
.applicant-item__content{
    background-color: #5B92FF !important;
    padding-left: 20px !important;
}

.applicant-item-info__heading {
    font-size: 23px;
    color: black
}
.applicant-item__info {
    color: rgb(66, 66, 66);
}